<header>
  <h1>{{title}}</h1>
  <a href="/info">Info</a>
</header>

<nav>
  <a href="/login">Login</a>
  <a href="/signup">Signup</a>
</nav>

<section id="subjects">
  {{!-- slide con materias --}}
  <h2>Materias</h2>
  <a href="/subjects">Conoce todas las materias</a>
</section>