<h1>Página principal privada</h1>
{{!-- {{#if eventos}} --}}
<h2>Próximas citas</h2>
{{!-- meter un partial de event, de un array de User Event --}}

{{!-- {{#if profe}} --}}
<h2>Mapa de niños frustrados</h2>
<ul>
  {{#each events}}
  <li>
    <p>Meter partial del event</p>
  </li>
  {{/each}}
</ul>

<div id="map"></div>
<script src="/javascripts/listEvent.js"></script>

{{!-- <script>
  window.restaurants = {{{ restStr }}}
</script> --}}

{{!-- {{#if alumno}} --}}
<h2>Crear evento</h2>
<div class="pendiente" class="confirmado">

</div>


<!-- <script type="text/javascript" src="main.js"></script> -->